:root {
  --light-gray: #f6f6f6;
  --white: #fff;
  --dark: #222;
}

body {
  font-family: sans-serif;
  background-color: var(--light-gray);
  color: var(--dark);
}

img {
  width: 100%;
}

/* Default Preview Styles */
input[type="text"] {
  /* box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 2px 0px, #ffffff26 0px 1px 3px 1px; */
  border: 1px solid var(--dark);
  border-radius: 0.2rem;
  margin: 0.5rem auto;
  width: fit-content;
  height: 36px;
  padding: 0 1rem;
}

label {
  text-align: center;
  font-weight: bold;
}

button.btn {
  border: 1px solid var(--dark);
  padding: 0.5rem;
  cursor: pointer;
  background-color: var(--dark);
  color: var(--light-gray);
  border-radius: 0.2rem;
  font-size: 1rem;
}

button.btn:hover {
  background-color: var(--light-gray);
  color: var(--dark);
}

div.card {
  margin: 0.5rem 0;
  background-color: var(--white);
  border-radius: 0.2rem;
  padding: 1rem;
  box-shadow: rgba(60, 64, 67, 0.15) 0px 2px 2px 0px, #ffffff26 0px 1px 3px 1px;
}
