:root {
  --light-gray: #f6f6f6;
  --white: #fff;
  --dark: #222;
}

body {
  font-family: sans-serif;
  background-color: var(--light-gray);
  color: var(--dark);
}

img {
  width: 100%;
}

/* ::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-color: #d3d3d3;
  border-right: 1px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #bbbbbb;
} */
